<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
       <title>Eric's Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css"/>
</head>
    <body style ="background-color:#23303D;">
        <h1>Dashboard</h1>
            <h2>Weather</h2>
                <div id="weatherContainer" class="container">
                    <div id="current_forecast_box" class="row">
                        <div id="current_info_col" class="column">
                            <div class="row">
                                <p style="margin: auto; font-size: 30px"> {{ location }} </p>
                            </div>
                            <div class="row">
                                <p style="margin: auto;"> {{ current_forecast }} </p>
                            </div>
                            <div class="row">
                                <p style="font-size:110px; margin-top: -20px;margin-bottom: -30px"> {{ current_temp }}° </p>
                            </div>
                            <div class="row">
                                <p style="margin: auto;"> Hi: {{ hi_low_of_day[0] }}° &nbsp;&nbsp; low: {{ hi_low_of_day[1] }}° </p>
                            </div>
                        </div>
                        <div id="current_icon_col" class="column">
                            <img src="{{ forecast_image_current }}" alt="test" style="height: 150px; width: 150px;">
                        </div>
                        <div id="weekly_forecast_col" class="column" style="margin-right: 10px">
                            <table class="weekdata">
                                {%for i in range(0, 5)%}
                                    <tr style="height: 45px;">
                                        <th style="font-size: 20px; width: 55px">
                                            {{ weekday_strings[i] }}
                                        </th>
                                        <td style="font-size:15px;"> &nbsp;&nbsp;{{ weekday_data[i][0] }} &nbsp;&nbsp; {{ weekday_data[i][1] }} &nbsp;&nbsp;</td>
                                        <td style="width: 60px">
                                            <img src= "{{ week_images[i] }}" alt="test" style="width:35px; height:35px">
                                        </td>
                                    </tr>
                                {%endfor%}
                            </table>
                        </div>
                    </div>
                    <hr style="height: 2px;background:antiquewhite; border-radius: 3px; margin-top: -6px;margin-bottom: 0">
                    <div id="heading1" class="row">
                        <p style="font-size: 15px; padding-top: 10px;margin-bottom: -2px">Throughout Day</p>
                    </div>
                    <div>
                        <table class="feelsliketable">
                            <tr>
                                {%for i in range(0, 8)%}
                                    <td>
                                        {{ day_temps[i] }} °C
                                    </td>
                                {%endfor%}
                            </tr>
                            <tr>
                                {%for i in range(0, 8)%}
                                    <td>
                                        {{  day_timestamps[i] }}
                                    </td>
                                {%endfor%}
                            </tr>
                        </table>
                    </div>
                </div>

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>