h1{
    color: green;
}

#weatherContainer{
    text-align:center;
    color:#EFEFEF;
    background-color: #23303D;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    width: 700px;
    height: 350px;
    margin:auto;
}

#weatherContainer p{
    padding-left: 20px;
    color:#EFEFEF;
}
#weatherContainer table{
    table-layout: auto;
    color:#EFEFEF;
    width: 100%;
}